<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if seo.title -%}
            {{ seo.title }} 
        {%- else -%} 
            {{ title }} | {{meta.title }}
        {%- endif -%}
    </title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
    {% include "meta.njk" %}
</head>
<body class="text-gray-900 leading-normal">
    <a href="#content" class="sr-only">skip to main content</a>
    <div role="document" class="min-h-screen flex flex-col">
        {% include "header.njk" %}
        {% include "contact-form.njk" %}
        {% include "footer.njk" %}
    </div>
    <script src="{{ '/assets/main.js' | url }}" defer></script>
    <script type="text/javascript">
        async function sendEmail() {
            const firstName = document.getElementById('grid-first-name').value;
            const lastName = document.getElementById('grid-last-name').value;
            const email = document.getElementById('email').value;
            const message = document.getElementById('message').value;
            
            if (firstName && lastName && email && message) {
                const response = await fetch('https://api.chucknorris.io/jokes/random');
                const myJson = await response.json(); //extract JSON from the http response
                console.log('myJson', myJson);
            } else {

            }
        }
    </script>
     {# LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} #}
</body>
</html>